<footer class="relative mx-auto mt-24 max-w-7xl px-6 lg:px-8">
  <div class="border-t border-gray-900/10 sm:py-12">
    <div class="xl:grid xl:grid-cols-3 xl:gap-4">
      <div class="h-9" alt="Company name"></div>
      <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-6">
          <div>
          </div>
          <div class="mt-10 md:mt-0">
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-6">
          <div>
          </div>
          <div class="mt-10 md:mt-0">
            <a href="{{ site.baseurl }}/">
              <h3 class="text-sm/6 text-slate-400 font-semibold text-gray-900">public.bot</h3>
            </a>
            <ul role="list" class="mt-2 ">
              <li>
                <a href="/about" class="text-sm/6 text-slate-400 hover:text-gray-900">About</a>
              </li>
              <li>
                <a
                  href="https://github.com/afomi/public-bot"
                  class="text-sm/6 text-slate-400 hover:text-gray-900"
                  target="_blank"
                  rel="noopener">Contribute</a>
              </li>
              <li>
                <a href="/donate" class="text-sm/6 text-slate-400 hover:text-gray-900">Support</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>