<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ site.title }} - {{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>
<body class="bg-slate-50">
  <div class="bg-slate-50">
    <div class="relative mx-auto mt-12 max-w-7xl px-6 lg:px-8">
      <div class="border-t border-gray-900/10 py-12">
        <div class="xl:grid xl:grid-cols-3 xl:gap-4">
          <a href="{{ site.baseurl }}/">
            <div class="h-9 text-slate-400 font-semibold" alt="public.bot logotype">public.bot</div>
          </a>
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </div>
</body>

</html>
